SMTP_HOST=smtp.host.com
SMTP_PORT=465
SMTP_USER=no-response@host.com.br
SMTP_PASS="^*|/jT5Qr"
SMTP_SECURE=ssl
FROM_EMAIL=no-response@host.com.br
FROM_NAME="Host conato"
TO_EMAIL=atendimento@host.com.br
TO_NAME="Equipe host"
